{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>Tarefa de {{ user.username }}</title>
{% endblock %}

{% block content %}

<p>
    Título da tarefa: {{ title }}
</p>
{% for key, value in status_list %}
{% if task.status == key %}
<p>
    Status da tarefa: {{ value }} 
</p>
{% endif %}
{% endfor %}
<p>
    Criada em: {{ task.created_at }}
</p>
<p>
    Última atualização de status: {{ task.updated_at }}
</p>
<p>
    Tarefa criada por: {{ task.user }}
</p>
<a href="#" data-toggle="modal" data-target="#EditTask">
    <button type="submit" class="btn btn-sm btn-primary mb-2">Editar Tarefa</button>
</a>
<a href="{% url 'home' %}">
    <button type="submit" class="btn btn-sm btn-primary mb-2">Voltar para Tarefas</button>
</a>
{% include "modals/edit_task.html" %}
{% endblock %}

